@font-face {
    font-family: "westagram";
    src: url("../../public/ttf/Lobster-Regular.ttf") format('truetype');
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin iconSize {
    height: 30px;
    width: 30px;
}

$primary-color: #fafafa;
